# IDE
/.idea*
/projectFilesBackup
/.cache
/.classpath
/.project
/.settings
/.ensime*

# SBT
/target
/project/target
/project/project

# sensitive info
/vasya.console.log
/src/main/resources/props/production.*
