# IDE
/.cache
/.idea*
/.classpath
/.settings
/.project
/projectFilesBackup
/.ensime*

# SBT
/lib_managed
/project/project
/project/target
/target

# sensitive info
/vasya.console.log
/src/main/resources/props/production.*
